<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--<mapper namespace="com.moopi.mvc.mapper.MoimMapper">-->
<mapper namespace="com.moopi.mvc.service.moim.MoimDao">   	
 	
	<resultMap id="moimSelectMap" type="moim">
		<result property="mmNo" 			column="MM_NO" 		jdbcType="NUMERIC"/>
		<result property="mmName"				column="MM_NAME" 		jdbcType="VARCHAR" />
		<result property="mmContent" 			column="MM_CONTENT" 		jdbcType="VARCHAR" />
		<result property="mmFile" 			column="mm_image" 			jdbcType="VARCHAR" /> 
		<result property="mmMaxCount" 			column="MM_MAX_COUNT" 			jdbcType="NUMERIC" />
		<result property="mmCurrentCount" 			column="MM_CURRENT_COUNT" 	jdbcType="NUMERIC" />
		<result property="mmConstructor" 			column="mm_constructor" 			jdbcType="VARCHAR" />
		<result property="mmRegDate" 			column="MM_REGDATE" 			jdbcType="DATE"  />
		<result property="mmInterest" 			column="MM_INTEREST" 		jdbcType="NUMERIC" />
		<result property="mmAddr" 			column="MM_ADDR" 			jdbcType="VARCHAR"  />
		<result property="mmState" 			column="MM_STATE" 			jdbcType="VARCHAR"  />
		<result property="mmMinAge" 			column="MM_MIN_AGE" 			jdbcType="NUMERIC"  />
		<result property="mmMaxAge" 			column="MM_MAX_AGE" 			jdbcType="NUMERIC"  />
		<result property="mmType" 			column="MM_TYPE" 			jdbcType="VARCHAR"  />
		
	</resultMap>

	<select id="getMoim" parameterType="int" resultMap="moimSelectMap">
		SELECT
			MM_NO, MM_NAME, MM_CONTENT, MM_IMAGE, MM_MAX_COUNT, MM_CURRENT_COUNT, MM_CONSTRUCTOR, MM_REGDATE,
			MM_INTEREST, MM_ADDR, MM_STATE, MM_MIN_AGE, MM_MAX_AGE, MM_TYPE 		
			FROM MOIM 
		WHERE MM_NO = #{mmNo}	
	</select>

	<insert id="addMoim"	parameterType="moim" >
	 	INSERT
		INTO MOIM(
		MM_NO, MM_NAME, MM_CONTENT, MM_IMAGE, MM_MAX_COUNT, MM_CURRENT_COUNT, MM_CONSTRUCTOR, MM_REGDATE,
		MM_INTEREST, MM_ADDR, MM_STATE, MM_MIN_AGE, MM_MAX_AGE, MM_TYPE 
		)
		VALUES( 
		#{mmNo}, #{mmName}, #{mmContent}, #{mmFile}, 
		#{mmMaxCount}, '1', #{mmConstructor}, now(), #{mmInterest}, #{mmAddr}, #{mmState}, #{mmMinAge},               
		#{mmMaxAge}, #{mmType}
		)
	 </insert>
	
	 <update	id="updateMoim"	parameterType="moim" >
	   	UPDATE MOIM
	   	<set>
	   		MM_NAME 	= #{mmName} ,
			MM_CONTENT	= #{mmContent},
			MM_IMAGE = #{mmFile} ,
			MM_MAX_COUNT = #{mmMaxCount},
			MM_INTEREST = #{mmInterest},
			MM_ADDR = #{mmAddr},
			MM_STATE = #{mmState},
			MM_TYPE = #{mmType},
			MM_MIN_AGE = #{mmMinAge},
			MM_MAX_AGE = #{mmMaxAge}
	   	</set>
	   	WHERE MM_NO = #{mmNo}
	 </update>
	  
	
	<select  id="getMoimList"  parameterType="search"	resultMap="moimSelectMap">
		SELECT
		MM_NO, MM_NAME, MM_CONTENT, MM_IMAGE, MM_MAX_COUNT, MM_CURRENT_COUNT, MM_CONSTRUCTOR, MM_REGDATE,
		MM_INTEREST, MM_ADDR, MM_STATE, MM_MIN_AGE, MM_MAX_AGE, MM_TYPE 		
		FROM MOIM 
		<if test="searchCondition != null">
		<where>
		<if test="searchCondition == 1 and searchKeyword !='' ">
		mm_interest = #{searchKeyword}
		</if>
		<if test="searchCondition == 2 and searchKeyword !='' ">
		mm_addr = #{searchKeyword}
		</if>
		</where>
		</if> 	  	
	 </select>
	
	<select  id="getTotalCount"  parameterType="search"	 resultType="int">
	  	select count(*)
			from moim
			<if test="searchCondition != null">
			<where>
			<if test="searchCondition == 1 and searchKeyword !='' ">
			mm_interest = #{searchKeyword}
			</if>
			<if test="searchCondition == 2 and searchKeyword !='' ">
			mm_addr = #{searchKeyword}
			</if>
			</where>
			</if> 					
	 </select>

	
</mapper>