<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--<mapper namespace="com.moopi.mvc.mapper.MoimMapper">-->
<mapper namespace="com.moopi.mvc.service.moim.MoimDao">   	
 	
	<resultMap id="moimSelectMap" type="moim">
		<result property="mmNo" 			column="MM_NO" 		jdbcType="NUMERIC"/>
		<result property="mmName"				column="MM_NAME" 		jdbcType="VARCHAR" />
		<result property="mmContent" 			column="MM_CONTENT" 		jdbcType="VARCHAR" />
		<!-- <result property="mmFile" 			column="mm_image" 			jdbcType="VARCHAR" /> -->
		<result property="mmMaxCount" 			column="MM_MAX_COUNT" 			jdbcType="NUMERIC" />
		<result property="mmCurrentCount" 			column="MM_CURRENT_COUNT" 	jdbcType="NUMERIC" />
		<!-- <result property="mmConstructor.userId" 			column="mm_constructor" 			jdbcType="VARCHAR" /> -->
		<result property="mmRegDate" 			column="MM_REGDATE" 			jdbcType="DATE"  />
		<result property="mmInterest" 			column="MM_INTEREST" 		jdbcType="NUMERIC" />
		<result property="mmAddr" 			column="MM_ADDR" 			jdbcType="VARCHAR"  />
		<result property="mmState" 			column="MM_STATE" 			jdbcType="VARCHAR"  />
		<result property="mmMinAge" 			column="MM_MIN_AGE" 			jdbcType="NUMERIC"  />
		<result property="mmMaxAge" 			column="MM_MAX_AGE" 			jdbcType="NUMERIC"  />
		<result property="mmType" 			column="MM_TYPE" 			jdbcType="VARCHAR"  />
		
	</resultMap>
	
	<select id="getMoim" parameterType="int" resultMap="moimSelectMap">
		SELECT
			MM_NO, MM_NAME, MM_CONTENT, MM_MAX_COUNT, MM_CURRENT_COUNT, MM_REGDATE,
			MM_INTEREST, MM_ADDR, MM_STATE, MM_MIN_AGE, MM_MAX_AGE, MM_TYPE 		
			FROM MOIM 
		WHERE mm_no = #{mmNo}	
	</select>
	
	<!-- 
	<select id="getMoim" parameterType="int" resultMap="moimSelectMap">
		SELECT
			mm_no, mm_name, mm_content, mm_image, mm_max_count, mm_current_count, mm_constructor, mm_regdate,
			mm_interest, mm_addr, mm_state, mm_min_age, mm_max_age, mm_type 		
			FROM moim 
		WHERE mm_no = #{mmNo}	
	</select>
	 -->

	
	<!-- 
	<insert id="addMoim"	parameterType="moim" >
	 	INSERT
		INTO moim(
		mm_no, mm_name, mm_content, mm_image, mm_max_count, mm_current_count, mm_constructor, mm_regdate,
		mm_interest, mm_addr, mm_state, mm_min_age, mm_max_age, mm_type 
		) 
		VALUES(moim_seq.nextval, #{mmName}, #{mmContent}, #{mmFile}, 
		#{mmMaxCount}, 1, #{mmConstructor}, SYSDATE, #{mmInterest}, #{mmAddr}, #{mmState}, #{mmMinAge},               
		#{mmMaxAge}, #{mmType}
		)
	 </insert>
	 -->
	
	 
	 <!-- 
	 <update	id="updateMoim"	parameterType="moim" >
	   	UPDATE moim
	   	<set>
	   		mm_name 	= #{mmName} ,
			mm_content	= #{{mmContent},
			mm_image = #{prodDetail} ,
			mm_max_count = #{mmMaxCount},
			mm_interest = #{mmInterest},
			mm_addr = #{mmAddr},
			mm_state = #{mmState},
			mm_type = #{mmType}
			
	   	</set>
	   	WHERE mm_no = #{mmNo}
	 </update>
	  -->
	
</mapper>