
<!-- <?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moopi.mvc.service.payment.PaymentDao">
 	
	<resultMap id="userSelectMap" type="user">
		<result property="userId"			column="user_id"			jdbcType="VARCHAR"/>
		<result property="password"			column="pwd"				jdbcType="VARCHAR"/>
		<result property="userName"			column="user_name"			jdbcType="VARCHAR"/>
		<result property="phone"			column="phone"				jdbcType="VARCHAR"/>
		<result property="birth"			column="birth"				jdbcType="DATE"/>
		<result property="age"				column="age"				jdbcType="INTEGER"/>
		<result property="gender"			column="gender"				jdbcType="VARCHAR"/>
		<result property="joinPath"			column="join_path"			jdbcType="CHAR"/>
		<result property="regDate"			column="regdate"			jdbcType="DATE"/>
		<result property="userRole"			column="user_Role"			jdbcType="VARCHAR"/>
		<result property="fullAddr"			column="full_addr"			jdbcType="VARCHAR"/>
		<result property="addr"				column="addr"				jdbcType="VARCHAR"/>
		<result property="nickname"			column="nickname"			jdbcType="VARCHAR"/>
		<result property="profileImage"		column="profile_image"		jdbcType="VARCHAR"/>
		<result property="profileContent"	column="profile_content"	jdbcType="VARCHAR"/>
		<result property="interestFirst"	column="intest_first"		jdbcType="INTEGER"/>
		<result property="interestSecond"	column="intest_second"		jdbcType="INTEGER"/>
		<result property="interestThird"	column="intest_third"		jdbcType="INTEGER"/>
		<result property="myhomeState"		column="myhome_State"		jdbcType="CHAR"/>
		<result property="stateReason"		column="state_reason"		jdbcType="VARCHAR"/>
		<result property="stateRegdate"		column="state_regdate"		jdbcType="DATE"/>
		<result property="coin"				column="coin"				jdbcType="INTEGER"/>
		<result property="badge"			column="badge"				jdbcType="CHAR"/>
		<result property="userId"			column="USER_ID"			jdbcType="VARCHAR"/>
		<result property="password"			column="PWD"				jdbcType="VARCHAR"/>
		<result property="userName"			column="USER_NAME"			jdbcType="VARCHAR"/>
		<result property="phone"			column="PHONE"				jdbcType="VARCHAR"/>
		<result property="birth"			column="BIRTH"				jdbcType="DATE"/>
		<result property="age"				column="AGE"				jdbcType="NUMBER"/>
		<result property="gender"			column="GENDER"				jdbcType="VARCHAR"/>
		<result property="joinPath"			column="JOIN_PATH"			jdbcType="CHAR"/>
		<result property="regDate"			column="REGDATE"			jdbcType="DATE"/>
		<result property="userRole"			column="USER_ROLE"			jdbcType="VARCHAR"/>
		<result property="fullAddr"			column="FULL_ADDR"			jdbcType="VARCHAR"/>
		<result property="addr"				column="ADDR"				jdbcType="VARCHAR"/>
		<result property="nickname"			column="NICKNAME"			jdbcType="VARCHAR"/>
		<result property="profileImage"		column="PROFILE_IMAGE"		jdbcType="VARCHAR"/>
		<result property="profileContent"	column="PROFILE_CONTENT"	jdbcType="VARCHAR"/>
		<result property="interestFirst"	column="INTEREST_FIRST"		jdbcType="NUMBER"/>
		<result property="interestSecond"	column="INTEREST_SECONT"		jdbcType="NUMBER"/>
		<result property="interestThird"	column="INTEREST_THIRD"		jdbcType="NUMBER"/>
		<result property="myhomeState"		column="MYHOME_STATE"		jdbcType="CHAR"/>
		<result property="stateReason"		column="STATE_REASON"		jdbcType="VARCHAR"/>
		<result property="stateRegdate"		column="STATE_REGDATE"		jdbcType="DATE"/>
		<result property="coin"				column="COIN"				jdbcType="NUMBER"/>
		<result property="badge"			column="BADGE"				jdbcType="CHAR"/>
	</resultMap>
	
	<select id="findPayment" parameterType="int" resultMap="userSelectMap">
		SELECT
			user_id , user_name , password , role ,  cell_phone ,  addr , email , reg_date 		
			FROM users 
		WHERE user_id = #{userId}	
	</select>
	
	<insert id="addUser"	parameterType="user" >
		INSERT 
		INTO users( user_id, pwd, user_name, phone, birth, age, gender, join_path, regdate, user_Role, full_addr, addr, nickname )
		VALUES ( #{user_id}, #{pwd}, #{user_name}, #{phone}, #{birth}, #{age}, #{gender}, #{join_path}, #{regdate}, #{user_role}, #{full_addr}, #{addr}, #{nickname} );
	 </insert>
	</insert>
	
	<select id="getUser"	parameterType="String"		resultMap="userSelectMap">
	</select>

</mapper>

-->

