<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--<mapper namespace="com.moopi.mvc.mapper.MoimMapper">-->
<mapper namespace="com.moopi.mvc.service.moim.MoimDao">   	
 	
	<resultMap id="moimSelectMap" type="moim">
		<result property="mmNo" 			column="MM_NO" 		jdbcType="NUMERIC"/>
		<result property="mmName"				column="MM_NAME" 		jdbcType="VARCHAR" />
		<result property="mmContent" 			column="MM_CONTENT" 		jdbcType="VARCHAR" />
		<result property="mmFile" 			column="mm_image" 			jdbcType="VARCHAR" /> 
		<result property="mmMaxCount" 			column="MM_MAX_COUNT" 			jdbcType="NUMERIC" />
		<result property="mmCurrentCount" 			column="MM_CURRENT_COUNT" 	jdbcType="NUMERIC" />
		<result property="mmConstructor.userId" 			column="MM_CONSTRUCTOR" 			jdbcType="VARCHAR" />
		<result property="mmRegDate" 			column="MM_REGDATE" 			jdbcType="DATE"  />
		<result property="mmInterest" 			column="MM_INTEREST" 		jdbcType="NUMERIC" />
		<result property="mmAddr" 			column="MM_ADDR" 			jdbcType="VARCHAR"  />
		<result property="mmState" 			column="MM_STATE" 			jdbcType="VARCHAR"  />
		<result property="mmMinAge" 			column="MM_MIN_AGE" 			jdbcType="NUMERIC"  />
		<result property="mmMaxAge" 			column="MM_MAX_AGE" 			jdbcType="NUMERIC"  />
		<result property="mmType" 			column="MM_TYPE" 			jdbcType="VARCHAR"  />
	</resultMap>
	
	  
	<resultMap id="memberSelectMap" type="member">
		<result property="memberNo" 			column="MEMBER_NO" 		jdbcType="NUMERIC"/>
		<result property="mmUser.userId"				column="MM_MEMBER_ID" 		jdbcType="VARCHAR" />
		<result property="mmUser.userName"				column="USER_NAME" 		jdbcType="VARCHAR" />
		<result property="mmUser.badge"				column="BADGE" 		jdbcType="VARCHAR" />
		<result property="mmUser.profileImage"				column="PROFILE_IMAGE" 		jdbcType="VARCHAR" />
		<result property="mmUser.profileContent"				column="PROFILE_CONTENT" 		jdbcType="VARCHAR" />
		<result property="mmUser.addr"				column="ADDR" 		jdbcType="VARCHAR" />
		<result property="mmNo" 			column="MM_NO" 		jdbcType="NUMERIC" />
		<result property="memberRole" 			column="MM_MEMBER_ROLE" 			jdbcType="VARCHAR" /> 
		<result property="memberRegDate" 			column="MM_MEMBER_REGDATE" 			jdbcType="DATE" />
	</resultMap>
	
	
	<insert id="applyMoim">
	 	INSERT
		INTO MEMBER(
		MM_MEMBER_ID, MM_NO, MM_MEMBER_ROLE, MM_MEMBER_REGDATE 
		)
		VALUES( 
		#{userId}, #{mmNo}, '1', now()
		)
	 </insert>
	 
	 <update	id="leaveMoim">
	   	UPDATE MEMBER
	   	<set>
	   		MM_MEMBER_ROLE 	= '6'
	   	</set>
	   	WHERE MM_MEMBER_ID = #{userId} 
	   	AND MM_NO = #{mmNo}
	 </update>
	 
	 <delete id="refuseApply" parameterType="int">
	 delete from member
	 where member_no = #{memberNo}
	 </delete>
	 
	 <update	id = "updateMember">
	   	UPDATE MEMBER
	   	<if test="status == 1">
	   	<set>
	   		MM_MEMBER_ROLE 	= '2'
	   	</set>
	   	</if>
	   	<if test="status == 2">
	   	<set>
	   		MM_MEMBER_ROLE 	= '3'
	   	</set>
	   	</if>
	   	<if test="status == 3">
	   	<set>
	   		MM_MEMBER_ROLE 	= '2'
	   	</set>
	   	</if>
	   	<if test="status == 4">
	   	<set>
	   		MM_MEMBER_ROLE 	= '5'
	   	</set>
	   	</if>
	   	WHERE MM_MEMBER_ID = #{userId} 
	   	AND MM_NO = #{mmNo}
	 </update>
	 
	 <select  id="getMemberList"  parameterType="int"	resultMap="memberSelectMap">
		SELECT
		MEMBER_NO, MM_MEMBER_ID, MM_NO, MM_MEMBER_ROLE, MM_MEMBER_REGDATE, USER_NAME, BADGE, 
		PROFILE_IMAGE, PROFILE_CONTENT, ADDR	
		FROM MEMBER M, USERS U
		<if test="status == 1">
		where mm_no =#{mmNo}
		and mm_member_role ='1'
		and U.user_id = M.mm_member_id
		</if>
		<if test="status == 2">
		where mm_no = #{mmNo}
		and NOT mm_member_role ='1'
		and NOT mm_member_role = '6'
		and NOT mm_member_role = '5'
		</if>	
	 </select>

	<select id="getMoim" parameterType="int" resultMap="moimSelectMap">
		SELECT
			MM_NO, MM_NAME, MM_CONTENT, MM_IMAGE, MM_MAX_COUNT, MM_CURRENT_COUNT, MM_CONSTRUCTOR, MM_REGDATE,
			MM_INTEREST, MM_ADDR, MM_STATE, MM_MIN_AGE, MM_MAX_AGE, MM_TYPE 		
			FROM MOIM 
		WHERE MM_NO = #{mmNo}	
	</select>

	<insert id="addMoim"	parameterType="moim" >
	 	INSERT
		INTO MOIM(
		MM_NO, MM_NAME, MM_CONTENT, MM_IMAGE, MM_MAX_COUNT, MM_CURRENT_COUNT, MM_CONSTRUCTOR, MM_REGDATE,
		MM_INTEREST, MM_ADDR, MM_STATE, MM_MIN_AGE, MM_MAX_AGE, MM_TYPE 
		)
		VALUES( 
		#{mmNo}, #{mmName}, #{mmContent}, #{mmFile}, 
		#{mmMaxCount}, '1', #{mmConstructor.userId}, now(), #{mmInterest}, #{mmAddr}, #{mmState}, #{mmMinAge},               
		#{mmMaxAge}, #{mmType}
		)
	 </insert>
	
	 <update	id="updateMoim"	parameterType="moim" >
	   	UPDATE MOIM
	   	<set>
	   		MM_NAME 	= #{mmName} ,
			MM_CONTENT	= #{mmContent},
			MM_IMAGE = #{mmFile} ,
			MM_MAX_COUNT = #{mmMaxCount},
			MM_INTEREST = #{mmInterest},
			MM_CONSTRUCTOR = #{mmConstructor.userId},
			MM_ADDR = #{mmAddr},
			MM_STATE = #{mmState},
			MM_TYPE = #{mmType},
			MM_MIN_AGE = #{mmMinAge},
			MM_MAX_AGE = #{mmMaxAge}
	   	</set>
	   	WHERE MM_NO = #{mmNo}
	 </update>
	 
	
	<!-- <select  id="getMoimList"  parameterType="search"	resultMap="moimSelectMap">
		SELECT
		MM_NO, MM_NAME, MM_CONTENT, MM_IMAGE, MM_MAX_COUNT, MM_CURRENT_COUNT, MM_CONSTRUCTOR, MM_REGDATE,
		MM_INTEREST, MM_ADDR, MM_STATE, MM_MIN_AGE, MM_MAX_AGE, MM_TYPE 		
		FROM MOIM 
		<if test="searchCondition != null">
		<where>
		<if test="searchCondition == 1 and searchKeyword !='' ">
		mm_interest = #{searchKeyword}
		</if>
		<if test="searchCondition == 2 and searchKeyword !='' ">
		mm_addr = #{searchKeyword}
		</if>
		</where>
		</if> 	  	
	 </select>-->
	 
	<select  id="getMoimList"  parameterType="search"	resultMap="moimSelectMap">
		SELECT
		MM_NO, MM_NAME, MM_CONTENT, MM_IMAGE, MM_MAX_COUNT, MM_CURRENT_COUNT, MM_CONSTRUCTOR, MM_REGDATE,
		MM_INTEREST, MM_ADDR, MM_STATE, MM_MIN_AGE, MM_MAX_AGE, MM_TYPE , INTEREST_NAME		
		FROM MOIM M, INTEREST I
		<where>
		M.mm_interest = I.INTEREST_NO
		<if test="searchCondition != null">
		<if test="searchCondition == 1 and searchKeyword !='' ">
		mm_interest = #{searchKeyword}
		</if>
		<if test="searchCondition == 2 and searchKeyword !='' ">
		mm_addr = #{searchKeyword}
		</if>
		<if test="searchCondition == 3 and searchKeyword !='' ">
			AND mm_name like '%${searchKeyword}%' <!-- OR I.INTEREST_NAME like '%${searchKeyword}%'  -->
		</if>
		</if> 	  	
		</where>
	 </select>
	
	<select  id="getTotalCount"  parameterType="search"	 resultType="int">
	  	select count(*)
			from moim
			<if test="searchCondition != null">
			<where>
			<if test="searchCondition == 1 and searchKeyword !='' ">
			mm_interest = #{searchKeyword}
			</if>
			<if test="searchCondition == 2 and searchKeyword !='' ">
			mm_addr = #{searchKeyword}
			</if>
			</where>
			</if> 					
	 </select>
	 
	 <select  id="getTotalCountMember"  parameterType="int"	 resultType="int">
	  	select count(*)
			from member
			where mm_no = #{mmNo}
			and NOT mm_member_role ='1'
			and NOT mm_member_role = '6'
			and NOT mm_member_role = '5'				
	 </select>

	
</mapper>