<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.moopi.mvc.service.reply.ReplyDao">   	
 	
	<resultMap id="replySelectMap" type="reply">
		<result property="replyNo" 			column="REPLY_NO" 		jdbcType="NUMERIC"/>
		<result property="boardNo"			column="BD_NO" 			jdbcType="NUMERIC" />
		<result property="replyContent" 	column="REPLY_CONTENT" 	jdbcType="VARCHAR" />
		<result property="replyRegDate" 	column="REPLY_REGDATE" 	jdbcType="DATE" />
		<result property="replyFile" 		column="REPLY_FILE" 		jdbcType="VARCHAR"  />
		<result property="replyState" 		column="REPLY_STATE" 		jdbcType="CHAR" />
		
		<association property="replyWriter"  javaType="user">
			<id property="userId" 				column="USER_ID" 			jdbcType="VARCHAR"/>
			<result property="profileImage"		column="PROFILE_IMAGE"		jdbcType="VARCHAR"/>
			<result property="nickname"			column="NICKNAME"			jdbcType="VARCHAR"/>
		</association>		
	</resultMap>	
	
	<select id="getReplyList" parameterType="int" resultMap="replySelectMap">

		SELECT
			R.REPLY_CONTENT
		  , R.REPLY_FILE
		  , R.REPLY_REGDATE
		  , R.REPLY_STATE
		  , R.REPLY_NO
		  , U.USER_ID
		  , U.NICKNAME
		  , U.PROFILE_IMAGE
		FROM
			REPLY R
		  , USERS U
		WHERE
			U.USER_ID = R.REPLY_WRITER
		AND
			R.REPLY_STATE = 1
		AND
			R.BD_NO = #{boardNo}
	</select>
	
	<select id="getReply" parameterType="int" resultMap="replySelectMap" >

		SELECT 
			REPLY_NO
		  , REPLY_CONTENT
		  , REPLY_FILE
		  , REPLY_STATE
		FROM 
			REPLY
		WHERE
			REPLY_NO = #{replyNo}
	</select>
	
	<select id="updateReply" parameterType="reply" >

	UPDATE 
	REPLY SET 
	  REPLY_CONTENT = #{reply.replyContent}
    , REPLY_FILE = #{reply.replyFile}
    WHERE 
      REPLY_NO = #{reply.replyNo}
	</select>
	
	<select id="deleteReply" parameterType="reply" >

	UPDATE 
	REPLY SET 
	  REPLY_STATE = #{reply.replyState
	WHERE
	  REPLY_NO = #{reply.replyNo}
	</select>
	
	<insert id="insertReply" parameterType="reply" 
	useGeneratedKeys="true"  keyProperty="replyNo">
		
		INSERT INTO 
		REPLY (
		   BD_NO
		 , REPLY_WRITER
		 , REPLY_CONTENT
		 , REPLY_REGDATE
		 , REPLY_STATE
		 ) VALUES (
		   reply.boardNo
		 , reply.replyWriter.userId
		 , reply.replyContent
		 , NOW()
		 , '1');
	
	</insert>	
	
</mapper>