<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.moopi.mvc.service.report.ReportDao">   	
 	
	<resultMap id="reportSelectMap" type="report">
		<result property="reportNo" 			column="RP_NO" 				jdbcType="NUMERIC"/>
		<result property="reportCategory"		column="RP_CATEGORY" 		jdbcType="CHAR" />
		<result property="reportContent" 		column="RP_CONTENT" 		jdbcType="VARCHAR"  />
		<result property="reportRegDate" 		column="RP_REGDATE" 		jdbcType="DATE"  />
		<result property="reportType" 			column="RP_TYPE" 			jdbcType="VARCHAR"  />
		<result property="reportResultUpdate" 	column="RP_RESULT_UPDATE"	jdbcType="DATE"  />
		<result property="reportResultState" 	column="RP_RESULT_STATE" 	jdbcType="VARCHAR" />
		<result property="stateReason" 			column="STATE_REASON" 		jdbcType="VARCHAR" />
		
		
		<association property="reportByUser"  column="RP_BY_USERID" javaType="user">
			<id property="userId" 				column="USER_ID" 			jdbcType="VARCHAR"/>
			<result property="profileImage"		column="PROFILE_IMAGE"		jdbcType="VARCHAR"/>
			<result property="nickname"			column="NICKNAME"			jdbcType="VARCHAR"/>
		</association>	
		
		<association property="reportTarget"  javaType="user">
			<id property="userId" 				column="TARGET_ID" 			jdbcType="VARCHAR"/>
			<result property="nickname"			column="TARGET_NICKNAME"			jdbcType="VARCHAR"/>
			<result property="userName"			column="TARGET_NAME"			jdbcType="VARCHAR"/>
		</association>	
		
		<association property="reportTargetBd"  javaType="board">
			<id property="boardNo" 						column="BD_NO" 			jdbcType="NUMERIC"/>
			<result property="boardName"				column="BD_NAME"		jdbcType="VARCHAR"/>
			<result property="boardWriter.userId"		column="TARGET_ID"		jdbcType="VARCHAR"/>
			<result property="boardWriter.nickname"		column="TARGET_NICKNAME"		jdbcType="VARCHAR"/>
			<result property="boardWriter.userName"		column="TARGET_NAME"		jdbcType="VARCHAR"/>
		</association>	
		
		<association property="reportTargetRe"  		javaType="reply">
			<id property="replyNo" 					 	column="REPLY_NO" 			jdbcType="NUMERIC"/>
			<result property="replyContent"				column="REPLY_CONTENT"		jdbcType="VARCHAR"/>
			<result property="replyWriter.userId"		column="TARGET_ID"			jdbcType="VARCHAR"/>
			<result property="replyWriter.nickname"		column="TARGET_NICKNAME"		jdbcType="VARCHAR"/>
			<result property="replyWriter.userName"		column="TARGET_NAME"		jdbcType="VARCHAR"/>
			<result property="boardNo"					column="BD_NO"				jdbcType="NUMERIC"/>
		</association>		
		
		<association property="reportTargetMm">
			<id property="mmNo"							column="MM_NO"				jdbcType="NUMERIC"/>
			<result property="mmName"					column="MM_NAME"			jdbcType="VARCHAR"/>
			<result property="mmConstructor.nickname"	column="TARGET_NAME"			jdbcType="VARCHAR"/>
			<result property="mmConstructor.userName"	column="TARGET_NICKNAME"			jdbcType="VARCHAR"/>
			<result property="mmConstructor.userId"		column="TARGET_ID"			jdbcType="VARCHAR"/>
		</association>
		
		
	</resultMap>	
	
	
	<insert id="addReport" parameterType="report"> 
		
		INSERT INTO REPORT
		 (
		 RP_BY_USERID
	   , RP_TYPE
	   , RP_CONTENT
	   , RP_REGDATE
	   <if test="report.reportTarget.userId !=null">
	   , RP_TARGET
	   </if>
	   <if test="report.reportTargetRe.replyNo != 0">
	   , RP_TARGETRE
	   </if>
	   <if test="report.reportTargetBd.boardNo != 0">
	   , RP_TARGETBD
	   </if>
	   <if test="report.reportTargetMm.mmNo != 0">
	   , RP_TARGETMM
	   </if>
	   , RP_CATEGORY
	   ) VALUES 
	   (
	     #{report.reportByUser.userId}
	   , #{report.reportType}
	   , #{report.reportContent}
	   , NOW()
	    <if test="report.reportTarget.userId !=null">
	   , #{report.reportTarget.userId}
	   </if>
	    <if test="report.reportTargetRe.replyNo  != 0">
	   , #{report.reportTargetRe.replyNo}
	   </if>
	   <if test="report.reportTargetBd.boardNo != 0 ">
	   , #{report.reportTargetBd.boardNo}
	   </if>
	   <if test="report.reportTargetMm.mmNo != 0 ">
	   , #{report.reportTargetMm.mmNo}
	   </if>
	   , #{report.reportCategory});
		
	</insert>	
	
	<select id="getReportList" parameterType="map" resultMap="reportSelectMap">
	
		SELECT
		*
		FROM (SELECT
		inner_table.* , @ROWNUM := @ROWNUM +1 AS RNUM
        FROM( 
		SELECT 
		  R.RP_NO
		, R.RP_BY_USERID
		, U.NICKNAME
		, R.RP_TYPE
		, R.RP_CONTENT
		, R.RP_IMAGE
		, R.RP_REGDATE
		<if test=" map.search.searchCategory == 1 ">
		, B.BD_NO
		, B.BD_NAME
		, U2.USER_ID   AS TARGET_ID
		, U2.USER_NAME AS TARGET_NAME
		, U2.NICKNAME  AS TARGET_NICKNAME
		</if>
		<if test=" map.search.searchCategory == 2 ">
		, RE.REPLY_NO
		, RE.REPLY_CONTENT
		, U2.USER_ID    AS TARGET_ID     
		, U2.USER_NAME  AS TARGET_NAME   
		, U2.NICKNAME   AS TARGET_NICKNAME
		, RE.BD_NO
		</if>
		 <if test=" map.search.searchCategory == 3 ">
		, U2.USER_ID    AS TARGET_ID     
		, U2.USER_NAME   AS TARGET_NAME   
		, U2.NICKNAME  AS TARGET_NICKNAME
		</if>
		 <if test=" map.search.searchCategory == 4 ">
		, M.MM_NO
		, M.MM_NAME
		, U2.USER_ID    AS TARGET_ID     
		, U2.USER_NAME   AS TARGET_NAME   
		, U2.NICKNAME  AS TARGET_NICKNAME
		</if>
		, R.RP_CATEGORY
		, R.RP_RESULT_STATE
		, R.RP_RESULT_UPDATE
		, R.STATE_REASON
		 FROM 
		  REPORT R
		  , USERS U
		  , USERS U2
		  <if test=" map.search.searchCategory == 1 ">
		  , BOARD B
		  </if>
		  <if test=" map.search.searchCategory == 2 ">
		  , REPLY RE
		  </if>
		  <if test=" map.search.searchCategory == 4 ">
		  , MOIM M
		  </if>
		 WHERE
		 R.RP_BY_USERID = U.USER_ID
		 <if test=" map.search.searchCategory == 1 ">
		 AND
		 R.RP_TARGETBD = B.BD_NO
		 AND
		 B.BD_WRITER = U2.USER_ID
			 <if test="map.search.searchKeyword != null and map.search.searchCondition == 0">
			 AND
			 U2.USER_ID  LIKE CONCAT ('%',#{map.search.searchKeyword},'%')
			 </if>
			  <if test="map.search.searchKeyword != null and map.search.searchCondition == 1">
			 AND
			 U2.NICKNAME LIKE CONCAT ('%',#{map.search.searchKeyword},'%')
			 </if>
		 </if>
		 <if test=" map.search.searchCategory == 2 ">
		 AND
		 R.RP_TARGETRE = RE.REPLY_NO
		 AND
		 RE.REPLY_WRITER = U2.USER_ID
		  	<if test=" map.search.searchKeyword != null and map.search.searchCondition == 0 ">
			 AND
			 U2.USER_ID LIKE CONCAT ('%',#{map.search.searchKeyword},'%')
			 </if>
			  <if test="map.search.searchKeyword != null and map.search.searchCondition == 1">
			 AND
			 U2.NICKNAME LIKE CONCAT ('%',#{map.search.searchKeyword},'%')
			 </if>
		 </if>		 
		  <if test=" map.search.searchCategory == 3 ">
		 AND
		 R.RP_TARGET = U2.USER_ID
			  <if test="map.search.searchKeyword != null and map.search.searchCondition == 0">
			 AND
			 U2.USER_ID LIKE CONCAT ('%',#{map.search.searchKeyword},'%')
			 </if>
			  <if test="map.search.searchKeyword != null and map.search.searchCondition == 1">
			 AND
			 U2.NICKNAME LIKE CONCAT ('%',#{map.search.searchKeyword},'%')
			 </if>
		 </if>
		  <if test=" map.search.searchCategory == 4 ">
		 AND
		 R.RP_TARGETMM = M.MM_NO
		 AND
		 M.MM_CONSTRUCTOR = U2.USER_ID
		 	 <if test="map.search.searchKeyword != null and map.search.searchCondition == 0">
			 AND
			 U2.USER_ID  LIKE CONCAT ('%',#{map.search.searchKeyword},'%')
			 </if>
			  <if test="map.search.searchKeyword != null and map.search.searchCondition == 1">
			 AND
			 U2.NICKNAME LIKE CONCAT ('%',#{map.search.searchKeyword},'%')
			 </if>
			  <if test="map.search.searchKeyword != null and map.search.searchCondition == 2">
			 AND
			 M.MM_NAME LIKE CONCAT ('%',#{map.search.searchKeyword},'%')
			 </if>
		 </if>
		 GROUP BY
		 U.USER_ID
		 <if test=" map.search.searchCategory == 1 ">
		 , B.BD_NO
		 </if>
		 <if test=" map.search.searchCategory == 2 ">
		 , RE.REPLY_NO
		 </if> 
		  <if test=" map.search.searchCategory == 3 ">
		 , U2.USER_ID
		 </if>
		  <if test=" map.search.searchCategory == 4 ">
		 , M.MM_NO
		 </if>
		 ORDER BY R.RP_NO
		) inner_table, (select @rownum := 0) as R )tables
		WHERE rnum between #{map.search.startRowNum} and #{map.search.endRowNum} 
		 
		 
		 
	</select>
	
	<update id="processReport" parameterType="report" >
	
	UPDATE
		REPORT
 	SET 
 	RP_RESULT_STATE 	= #{report.reportResultState}
 	,  RP_RESULT_UPDATE = NOW()
 	,  STATE_REASON 	= #{report.stateReason}
    WHERE
       RP_NO			= #{report.reportNo}
	
	</update>
	
	<select id="getReport" parameterType="report" resultMap="reportSelectMap">
	
	SELECT
		RP_RESULT_STATE
	  , RP_RESULT_UPDATE
	  , STATE_REASON
	  , RP_NO
	FROM
		REPORT
	WHERE
		RP_NO = #{report.reportNo}
	
	</select>
	
	<select id="getTotalCount" parameterType="report" resultType="int">
	
		SELECT 
		 COUNT(*)
		 FROM 
		  REPORT R
		  , USERS U
		  , USERS U2
		  <if test=" map.search.searchCategory == 1 ">
		  , BOARD B
		  </if>
		  <if test=" map.search.searchCategory == 2 ">
		  , REPLY RE
		  </if>
		  <if test=" map.search.searchCategory == 4 ">
		  , MOIM M
		  </if>
		 WHERE
		 R.RP_BY_USERID = U.USER_ID
		 <if test=" map.search.searchCategory == 1 ">
		 AND
		 R.RP_TARGETBD = B.BD_NO
		 AND
		 B.BD_WRITER = U2.USER_ID
			 <if test="map.search.searchKeyword != null and map.search.searchCondition == 0">
			 AND
			 U2.USER_ID  LIKE CONCAT ('%',#{map.search.searchKeyword},'%')
			 </if>
			  <if test="map.search.searchKeyword != null and map.search.searchCondition == 1">
			 AND
			 U2.NICKNAME LIKE CONCAT ('%',#{map.search.searchKeyword},'%')
			 </if>
		 </if>
		 <if test=" map.search.searchCategory == 2 ">
		 AND
		 R.RP_TARGETRE = RE.REPLY_NO
		 AND
		 RE.REPLY_WRITER = U2.USER_ID
		  	<if test=" map.search.searchKeyword != null and map.search.searchCondition == 0 ">
			 AND
			 U2.USER_ID LIKE CONCAT ('%',#{map.search.searchKeyword},'%')
			 </if>
			  <if test="map.search.searchKeyword != null and map.search.searchCondition == 1">
			 AND
			 U2.NICKNAME LIKE CONCAT ('%',#{map.search.searchKeyword},'%')
			 </if>
		 </if>		 
		  <if test=" map.search.searchCategory == 3 ">
		 AND
		 R.RP_TARGET = U2.USER_ID
			  <if test="map.search.searchKeyword != null and map.search.searchCondition == 0">
			 AND
			 U2.USER_ID LIKE CONCAT ('%',#{map.search.searchKeyword},'%')
			 </if>
			  <if test="map.search.searchKeyword != null and map.search.searchCondition == 1">
			 AND
			 U2.NICKNAME LIKE CONCAT ('%',#{map.search.searchKeyword},'%')
			 </if>
		 </if>
		  <if test=" map.search.searchCategory == 4 ">
		 AND
		 R.RP_TARGETMM = M.MM_NO
		 AND
		 M.MM_CONSTRUCTOR = U2.USER_ID
		 	 <if test="map.search.searchKeyword != null and map.search.searchCondition == 0">
			 AND
			 U2.USER_ID  LIKE CONCAT ('%',#{map.search.searchKeyword},'%')
			 </if>
			  <if test="map.search.searchKeyword != null and map.search.searchCondition == 1">
			 AND
			 U2.NICKNAME LIKE CONCAT ('%',#{map.search.searchKeyword},'%')
			 </if>
			  <if test="map.search.searchKeyword != null and map.search.searchCondition == 2">
			 AND
			 M.MM_NAME LIKE CONCAT ('%',#{map.search.searchKeyword},'%')
			 </if>
		 </if>
		 
	</select>
	
	
	
</mapper>