<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moopi.mvc.service.user.UserDao">
 	
<resultMap id="userSelectMap" type="user">
		<result property="userId"			column="USER_ID"			jdbcType="VARCHAR"/>
		<result property="password"			column="PWD"				jdbcType="VARCHAR"/>
		<result property="userName"			column="USER_NAME"			jdbcType="VARCHAR"/>
		<result property="phone"			column="PHONE"				jdbcType="VARCHAR"/>
		<result property="birth"			column="BIRTH"				jdbcType="DATE"/>
		<result property="age"				column="AGE"				jdbcType="NUMERIC"/>
		<result property="gender"			column="GENDER"				jdbcType="VARCHAR"/>
		<result property="joinPath"			column="JOIN_PATH"			jdbcType="CHAR"/>
		<result property="regDate"			column="REGDATE"			jdbcType="DATE"/>
		<result property="userRole"			column="USER_ROLE"			jdbcType="VARCHAR"/>
		<result property="fullAddr"			column="FULL_ADDR"			jdbcType="VARCHAR"/>
		<result property="addr"				column="ADDR"				jdbcType="VARCHAR"/>
		<result property="nickname"			column="NICKNAME"			jdbcType="VARCHAR"/>
		<result property="profileImage"		column="PROFILE_IMAGE"		jdbcType="VARCHAR"/>
		<result property="profileContent"	column="PROFILE_CONTENT"	jdbcType="VARCHAR"/>
		<result property="interestFirst"	column="INTEREST_FIRST"		jdbcType="NUMERIC"/>
		<result property="interestSecond"	column="INTEREST_SECOND"	jdbcType="NUMERIC"/>
		<result property="interestThird"	column="INTEREST_THIRD"		jdbcType="NUMERIC"/>
		<result property="myhomeState"		column="MYHOME_STATE"		jdbcType="CHAR"/>
		<result property="stateReason"		column="STATE_REASON"		jdbcType="VARCHAR"/>
		<result property="stateRegdate"		column="STATE_REGDATE"		jdbcType="DATE"/>
		<result property="coin"				column="COIN"				jdbcType="NUMERIC"/>
		<result property="badge"			column="BADGE"				jdbcType="CHAR"/>
	</resultMap>

	<insert id="addUser"			parameterType="user" >
		INSERT 
		INTO users( USER_ID, PWD, USER_NAME, PHONE, BIRTH, AGE, GENDER, JOIN_PATH, REGDATE, USER_ROLE, FULL_ADDR, ADDR, NICKNAME, INTEREST_FIRST, INTEREST_SECOND, INTEREST_THIRD )
		VALUES ( #{userId}, #{password}, #{userName}, #{phone}, '2021-07-01', #{age}, #{gender}, 1, now(), 2, #{fullAddr}, #{addr}, #{nickname}, #{interestFirst}, #{interestSecond}, #{interestThird} );
	</insert>
	
	<select id="getMyHome"			parameterType="user"		resultMap="userSelectMap">
		SELECT
			USER_ID, PROFILE_IMAGE, NICKNAME, PROFILE_CONTENT, INTEREST_FIRST, INTEREST_SECOND, INTEREST_THIRD
		FROM users
		WHERE USER_ID = #{userId};
			<!--  팔로잉수, 팔로워 , PROFILE_CONTENT, 마이홈게시글 첨부파일, 마이홈게시글 내용, 마이홈게시글 좋아요 수, 모임무피 대표썸네일, 모임무피명 -->
	</select>
	
	<select id="getUser"			parameterType="String" 		resultMap="userSelectMap">
		SELECT 
		USER_ID, USER_NAME, PWD, NICKNAME, PHONE, ADDR, BIRTH, AGE, GENDER, REGDATE, JOIN_PATH, USER_ROLE, PROFILE_IMAGE, PROFILE_CONTENT,
		x.INTEREST_NAME as INTEREST_FIRST, y.INTEREST_NAME as INTEREST_SECOND, z.INTEREST_NAME as INTEREST_THIRD, 
		PROFILE_IMAGE, COIN, BADGE, MYHOME_STATE, STATE_REASON, STATE_REGDATE
		FROM users LEFT OUTER JOIN INTEREST x 
			ON INTEREST_FIRST = x.INTEREST_NO
		    LEFT OUTER JOIN INTEREST y
			ON INTEREST_SECOND = y.INTEREST_NO
		    LEFT OUTER JOIN INTEREST z
			ON INTEREST_THIRD = z.INTEREST_NO	 
		WHERE USER_ID = #{userId}
	</select>
	
	<update id="makeFlashCoin" parameterType="user">
		UPDATE USERS
		<set>
			COIN = COIN -2
		</set>
		WHERE USER_ID = #{userId}
	</update>

	<update id="joinFlashCoin" parameterType="user">
		UPDATE USERS
		<set>
			COIN = COIN -1
		</set>
		WHERE USER_ID = #{userId}
	</update>

	<update id="paymentUpdateCoin" parameterType="user">
		UPDATE USERS
		<set>
			COIN = COIN + #{coin} 
		</set>
		WHERE USER_ID = #{userId}
	</update>
	
	<select id="nicknameCheck"		parameterType="String"		resultType="int">
		SELECT count(*)
		FROM users
		WHERE NICKNAME = #{nickname}
	</select>
	
	<select id="userIdCheck" 		parameterType="String"		resultType="int">
		SELECT count(*) 
		FROM users 
		WHERE USER_ID = #{userId}
	</select>
	
	<select id="loginUser"			parameterType="String"		resultMap="userSelectMap">
		SELECT
			USER_ID, PWD, USER_ROLE
		FROM users
		WHERE USER_ID = #{userId}
	</select> 
		
	<!-- 아이디찾기 -->
	<select id="getUserId"			parameterType="String" 		resultMap="userSelectMap">
		SELECT USER_ID
		FROM users
		WHERE USER_ID = #{userId}
	</select>
	
	<!-- getId -->
	<select id="getId"		parameterType="String"		resultMap="userSelectMap">
		SELECT USER_ID
		FROM users
		WHERE PHONE = #{phone}
	</select>
	
	<!-- 모바일번호, 비밀번호 변경 -->
	<update id="updateUser"			parameterType="user">
		UPDATE users
		<set>
			PHONE = #{phone},
			PWD = #{password},
			NICKNAME = #{nickname}
		</set>
		WHERE USER_ID = #{userId};
	</update>
	
	<!-- 프로필수정 -->
	<update id="updateProfile"		parameterType="user">
		UPDATE users
		<set>
			NICKNAME = #{nickname}, 
			ADDR = #{addr}, 
			PROFILE_IMAGE = #{profileImage}, 
			INTEREST_FIRST = #{interestFirst},
			INTEREST_SECOND= #{interestSecond},
			INTEREST_THIRD = #{interestThird},
			PROFILE_CONTENT = #{profileContent}
		</set>
		WHERE USER_ID = #{userId};
	</update>
	
	
	<!-- *수정예정 / 관리자 전용 회원목록조회 / Coin이 있어야함 / 유저No, 유저아이디, 유저이름, 유저닉네임, 생년월일, 연령, 가입경로, 가입일자, 코인, 현재상태 -->
	<select id="getUserList"  		parameterType="search"		resultMap="userSelectMap">
		SELECT
			USER_ID, USER_NAME, NICKNAME, BIRTH, AGE, JOIN_PATH, REGDATE, USER_ROLE, 
			x.INTEREST_NAME, y.INTEREST_NAME ,z.INTEREST_NAME
		FROM users LEFT OUTER JOIN INTEREST x 
			ON INTEREST_FIRST = x.INTEREST_NO
		    LEFT OUTER JOIN INTEREST y
			ON INTEREST_SECOND = y.INTEREST_NO
		    LEFT OUTER JOIN INTEREST z
			ON INTEREST_THIRD = z.INTEREST_NO		
		<if test="search.searchCondition != null">
			<where>
				<if test="search.searchCondition == 2 and search.searchKeyword !='' ">
					AND NICKNAME LIKE '%${search.searchKeyword}%'
				</if>
				<if test="search.searchCondition == 2 and search.searchKeyword !='' ">
					AND NICKNAME LIKE '%${search.searchKeyword}%'
				</if>
			</where>
				<if test="searchState == 2">
					AND USER_ROLE = '2'
				</if>
				<if test="searchState == 3">
					AND USER_ROLE = '3'
				</if>
		</if>  	
	 </select>
	 
	 <select id="getTotalCount" 	parameterType="search"		resultType="int">
		SELECT COUNT(*) FROM users
		<!-- <if test="searchCondition != null">
			<where>
				<if test="searchCondition == 1 and searchKeyword !='' ">
					USER_ROLE = #{searchKeyword}
				</if>
				<if test="searchCondition == 2 and searchKeyword !='' ">
					REGDATE = #{searchKeyword}
				</if>
			</where>
		</if> -->
	</select>
		
	<!-- 비밀번호변경 -->
	<update id="updateUserPwd"		parameterType="user">
		UPDATE users
			<set>
			 	PWD = #{password}
			</set>
		WHERE USER_ID = #{userId}
	</update>
	
	<!-- 1. 프로필이미지수정 -->
	<update id="updateProfileImage"		parameterType="user">
		UPDATE users
		<set>
			PROFILE_IMAGE = #{profileImage}
		</set>
		WHERE USER_ID = #{userId};
	</update>
	
	<!-- 1. 닉네임수정 -->
	<update id="updateNickname"		parameterType="user">
		UPDATE users
		<set>
			NICKNAME = #{nickname}
		</set>
		WHERE USER_ID = #{userId};
	</update>
	
	<!-- 2. 프로필수정 -->
	<update id="updateContent"		parameterType="string">
		UPDATE users
		<set>
			PROFILE_CONTENT = #{profileContent}
		</set>
		WHERE USER_ID = #{userId};
	</update>
	
	<!-- 3. 관심사수정 -->
	<update id="updateInterest"		parameterType="user">
		UPDATE users
		<set>
			INTEREST_FIRST = #{interestFirst},
			INTEREST_SECOND= #{interestSecond},
			INTEREST_THIRD = #{interestThird}
		</set>
		WHERE USER_ID = #{userId};
	</update>
	
	<!-- 팔로우리스트 -->
	
	<insert id="addFollow" >
		INSERT
		INTO FOLLOW_LIKE
		(USER_ID , FL_TARGET, FL_TYPE)
		VALUES 
		(#{userId} , #{target}, "2")
	</insert>
	
	<select id="getFollow" resultMap="userSelectMap">
		SELECT
		u.user_id , u.nickname , u.profile_image
		FROM FOLLOW_LIKE fl , USERS u
		WHERE fl.fl_type in ('2')
			AND fl.user_id  = u.user_id 
			AND fl.user_id in (#{userId})
			AND fl.fl_target in (#{target})
	</select>
			
		
	<select id="getFollowList"	resultMap="userSelectMap">
		SELECT
		u.user_id , u.nickname , u.profile_image
		FROM FOLLOW_LIKE fl , USERS u
		<where>
			fl.fl_type in ('2')
			<if test="order == 1">
				AND fl.user_id  = u.user_id 
				AND fl.user_id in (#{userId})
			</if>
			<if test="order == 2">
				AND fl.fl_target = u.user_id 
				AND fl.fl_target in (#{userId})
			</if>
		</where>
	</select>
	
	<delete id="deleteFollow">
		DELETE
		FROM FOLLOW_LIKE
		WHERE user_id in (#{userId})
			AND fl_target in (#{target})
	</delete>
	
	<select id="getFollowCount" resultType="int">
		SELECT
			COUNT(*)				
			FROM FOLLOW_LIKE fl , USERS u
				<where>
					fl.fl_type in ('2') <!-- 팔로잉 -->
					<if test="order == 1">
						AND fl.user_id  = u.user_id 
						AND fl.user_id in (#{userId})
					</if>
					<if test="order == 2"> <!-- 팔로워 -->
						AND fl.fl_target = u.user_id 
						AND fl.fl_target in (#{userId})
					</if>
				</where>
	</select>
	
	<!-- 회원탈퇴  / 5.탈퇴회원 6.탈퇴복구불가회원 --> 
	 <select id="updateLeaveUser"	parameterType="user">
	 	UPDATE users
		<set>
			USER_ROLE = '5'
		</set>
		WHERE USER_ID = #{userId}
	</select>
		
			<!-- 유저롤 변경 -->
	<update id="updateUserRole"		parameterType="user">
		UPDATE users
			<set>
			 	USER_Role = #{userRole}
			</set>
		WHERE USER_ID = #{userId}
	</update>
		
</mapper>